* {
  --main-color: #1f2937;
  --secondary-color: #e5e7eb;
  --main-text-color: #f9faf8;
  --link-text-color: #e5e7eb;
  --header-text-color: #1f2937;
  --button-color: #3882f6;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* border: 2px solid red; */
}

*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  /* height: 100%; */
}

body {
  width: 1500px;
  margin: 50px auto;
  background-color: var(--main-color);
  text-align: center;
}

/* styling the navbar */

nav {
  /* width: 1000px; */
  text-align: center;
  margin: 0 auto;
  background-color: var(--main-color);
  padding: 0 20px;
  color: #fff;
}

.logo {
  margin-right: auto;
}

.logo h1 {
  font-weight: 900;
  color: var(--main-text-color);
  font-size: 24px;
}

.primary-navigation {
  display: flex;
  gap: 20px;
}
.nav-item {
  justify-content: space-between;
  list-style-type: none;
  /* flex: 1 1 auto; */
}
li a {
  padding: 20px;
  /* background-color: #3882f6; */
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

/* styling the navbar ends */

/* styling the navbar intro */
#intro {
  margin-bottom: 70px;
  /* width: 1000px; */
  background-color: var(--main-color);
  color: #fff;
  display: flex;
}

.intro-left {
  text-align: left;
  margin-left: 58px;
}

.welcome-text {
  font-weight: 500;
}

.intro-left p {
  width: 600px;
  line-height: 1.2;
  font-size: 16px;
}

.bytetrust {
  font-size: 48px;
  display: block;
  font-weight: 800;
}

.intro-right {
  /* background-color: #0e1a2e; */
  padding: 30px;
  margin-left: auto;
}

.btn-sign-up {
  padding: 5px 15px;
  border: none;
  border-radius: 7px;
  color: #fff;
  background-color: var(--button-color);
}

/* styling the intro end*/

/* styling the features*/
#features {
  background-color: #fff;
  margin: 50px 20px;
  padding: 30px;
}

#features h2 {
  font-size: 30px;
  font-weight: 900;
}

.features-list {
  display: flex;
  gap: 40px;
}

.features-group {
  background-color: var(--button-color);
  padding: 10px;
  border-radius: 40px;
  width: 450px;
  justify-content: space-between;
  color: #fff;
}

.features-group h3 {
  font-size: 20px;
  font-weight: bolder;
}

.features-group p {
  background: var(--main-color);
  padding: 18px 8px;
  width: 240px;
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
}
